body{
    background-color: aliceblue;
   display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    background-color: azure;
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-top: 30px;
}


.tituloTodoList{
    margin-left: 5px;
    border-bottom: 1px solid rgb(34, 33, 33);
    margin-bottom: 10px;
}
.tituloTodoList h1{
    margin-left: 3px;
}


.tareaTodoList{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.tareaTodoList input{
    height: 9vh;
}
.tareaTodoList button{
    height: 10vh;
    background-color: green;
    color: white;
    margin-left: 5px;
    font-size: larger;
    border: none;
}
.mainTodoList{
    padding-left: 5px;
    padding-right: 5px;
}
.effect.effect-5 {
    transition: all 0.2s linear 0s;
    
    &:before {
      content: "\f054";
      font-family: FontAwesome;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0px;
      height: 100%;
      width: 30px;
      background-color: rgba($overlay-color,0.3);
      border-radius: 0 50% 50% 0;
      transform: scale(0,1);
      transform-origin: left center;
      transition: all 0.2s linear 0s;
    }
    
     &:hover {
      text-indent: 30px;
      
      &:before {
        transform: scale(1,1);
        text-indent: 0;
      }
    }
  }